body{
background-color: lightblue;

}

.loginLabel {
    // background-color: lemonchiffon;
    margin-left: 35%;
    display: inline-block;
    width: 200px;
    text-align: right;
}


.loginInput {
    background-color: lemonchiffon;
    margin-left: 20px;
}

.submitButton {
   margin-left: 50%;
}

.registerLabel {
// background-color: lemonchiffon;
    margin-left: 35%;
    display: inline-block;
    width: 200px;
    text-align: right;
}


.registerInput {
    background-color: lemonchiffon;
    margin-left: 20px;
}